---
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

import Navbar from "@/components/Navbar.astro";
import InfoCard from "@/components/InfoCard.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
  heading?: string;
  breadcrumbs?: { label: string; href?: string }[];
  description?: string;
}

const { title = "", heading, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/logos/iso_DevCast.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="CIE-10, CPMS, enfermedades, clasificación, MINSA, salud Perú, códigos médicos" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/logos/iso_DevCast.svg" />
  </head>

  <body
    class="w-full h-[calc(100dvh-6rem)] bg-[#f9f9ff] flex flex-col items-center justify-between antialiased"
  >
    <ClientRouter />

    <Navbar />

    <main class="px-8 lg:px-0 w-full  lg:w-[60rem] top-24 relative">
      <!-- TEXTOS DE INFORMACION -->
      <div class="space-y-6">
        <!-- TITULO -->
        <h2 class="text-lg md:text-2xl font-bold text-[#353535]">
          {heading}
        </h2>
        <!-- DESCRIPCION -->
        <p class="text-sm leading-5 text-[#353535]">{description}</p>
        <!-- INFO CARD -->
        <InfoCard />
      </div>
      <!-- SLOT -->
      <slot />

    </main>
    <!-- FOOTER -->
    <Footer />
  </body>
</html>
